<footer>
  <div class="footer-content">
    <p>Like what you read? Subscribe to the Newsletter!</p>
    <div class="input">
      <input type="email" placeholder="Email ID" id="email" />
      <button onClick="subscribe()" id="button">Subscribe</button>
    </div>
  </div>
  <script>
    async function subscribe() {
      let email = document.getElementById("email").value;
      let API_ENDPOINT = `{{ getenv "API" }}`;
      let response = await fetch(API_ENDPOINT + "/subscribe", {
        method: "POST",
        body: email,
      });

      let result = await response.text();
      alert(result);
    }
  </script>
</footer>
