<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body style="
    background-image:url('{{`/images/bg.jpg` | relURL }}');
    background-size: cover;
    background-attachment: fixed;">
        <div class="container mx-auto">
        {{- partial "header.html" . -}}
        <div class="bg-white shadow-lg">  {{/* custom class min-h-merc-vh in assets/css/tailwind.config.js */}}
        {{- block "main" . }}{{- end }}
        </div>
        </div>
        <script src='{{`/js/responsive.js` | relURL }}'></script>
    </body>
</html>